<div class="ui breadcrumb">
  <a class="section" routerLink="/">Home</a>
  <i class="right arrow icon divider"></i>
  <div class="active section">Users list</div>
</div>
  
<div class="ui segment">
  <div class="ui right labeled input">
    <input type="text" placeholder="Find domain">
    <div class="ui dropdown label">
      <div class="text">.com</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">.com</div>
        <div class="item">.net</div>
        <div class="item">.org</div>
      </div>
    </div>
  </div>
</div>

  <table class="ui single line table">
    <thead>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.name }}</td>
        <td>{{ u.username | capitalize }}</td>
        <td>{{ u.email }}</td>
      </tr>
    </tbody>
  </table>